---
title: Dokumentumok
permalink: dokumentumok/
date: Last Modified
tags: menu
menuOrder: 500
documents:
- Házirend: 2018-hazirend.pdf
- Intézményi tanfelügyeleti értékelés: 2017-intezmenyi-tanfelugyeleti-ertekeles.pdf
- Különös közzétételi lista: 2019-kulonos-kozzeteteli-lista.pdf
- Pedagógiai program: 2018-pedagogiai-program.pdf
- Szervezeti működési szabályzat: 2020-szervezeti-mukodesi-szabalyzat.pdf
- Házirendet kiegészítő működési és egészségügyi eljárások (Függelék): 2020-hazirendet-kiegeszito-mukodesi-es-egeszsegugyi-eljarasok-fuggelek.pdf
---
{% extends 'layouts/@default.njk' %}

{% block main %}
<ul class="documents no-bullets colorized-buttons">
{% set cls = cycler(1,2,3,4,5,6) %}
{% for doc in documents %}
    {% for name, file in doc %}
        <li>
            <a href="{{ (cfg.urls.documents + "/" + file) | url | buildTimestamp }}" class="button colorize-{{ cls.next() }}" target="_blank">{{ name }}</a>
        </li>
    {% endfor %}
{% endfor %}
</ul>
{% endblock %}
