---
title: Galéria
pagination:
    data: collections.galleries
    size: 6
    alias: g
permalink: /galeria/{% if pagination.pageNumber !== 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}
date: Last Modified
tags: menu
menuOrder: 400
---
{% extends 'layouts/@default.njk' %}

{% block main %}
<section class="gallery-list">
 {% for p in g %}
    {% if p.data.images and p.data.images.length %}
        {% set thumb = (p.data.images[0] | trim) + "=w" + cfg.gallery.thumb.width + "-h" + cfg.gallery.thumb.height + "-c" %}
        <div>
            <a href="{{ p.url | url }}" class="thumb" style="background-image:url('{{ thumb }}')"></a>
            <div class="details">
                <h2>
                    <a href="{{ p.url | url }}">{{ p.data.title }}</a>
                </h2>
                <small class="date">{{ p.date | dateDisplay }} &bull; {{ p.data.images | length }} kép</small>
                {% if p.data.excerpt %}
                    <p>{{ p.data.excerpt }}</p>
                {% endif %}
            </div>
        </div>
    {% endif %}
  {% endfor %}
</section>

{% if pagination.pageLinks.length > 1 %}
  {% include "_pagination.njk" %}
{% endif %}

{% endblock %}
