---
title: Kapcsolat
permalink: kapcsolat/
date: Last Modified
tags: menu
menuOrder: 600
---
{% extends 'layouts/@default.njk' %}

{% block main %}

<h2>Törökvész Úti Kézműves Óvoda</h2>

<p>
    1022 Budapest, Törökvész út 18.
</p>

<p>
    <strong>Telefon:</strong> +36 1 326-5356
    <br>
    <strong>Fax:</strong> +36 1 326-5356
</p>

<p>
    kezmuvesovoda@torokvesz.t-online.hu
    <br>
    ovodavezeto@torokvesz.t-online.hu
    <br>
    ovodatitkarsag@torokvesz.t-online.hu
</p>

<p>
    Óvodavezető: Mázikné Markó Ágnes
</p>

<h3>Megközelítés</h3>

<p>
    Óvodánk megközelíthető a 11-es, 111-es, 91-es és a 291-es autóbusszal a Törökvész út és a Pusztaszeri út kereszteződésig.
</p>

<p>
    <a href="{{ cfg.mapUrl }}" target="_blank">
        <img src="{{ (cfg.urls.images + "/map.png") | url | buildTimestamp }}" alt=""/>
    </a>
</p>

{% endblock %}
