---
title: Miért hozzánk?
permalink: miert-hozzank/
excerpt: Amiért érdemes hozzánk járni
date: Last Modified
tags: menu
menuOrder: 300
---
{% extends 'layouts/@default.njk' %}

{% block main %}
    <h3>Fejlesztő tevékenységek</h3>

    <p>
    Fejlesztőpedagógusi szakvizsgával rendelkező pedagógusaink szükség szerint ellátják az óvodába járó részképességzavaros gyermekek fejlesztését. A rászoruló gyermekek számára logopédiai ellátás is biztosított.
    </p>

    <h3>Szülőkkel közös programok</h3>

    <p>
    Lehetőséget biztosítunk a szülős beszoktatásra, ünnepeinken való részvételre, nyílt napok látogatására.
    </p>

    <h3>Színvonalas nevelőmunka</h3>

    <p>
    Pedagógusainkat a szakmai felkészültség és igényes munkavégzés jellemzi. Szeretetteljes, a gyermekek érdekeit, igényeit szem előtt tartó óvodai nevelést valósítunk meg.
    </p>

    <h3>Hagyományőrző ünnepek és kézműves foglalkozások</h3>

    <p>
    A jeles napok, néphagyományok őrzésén és megtartásán keresztül kialakul a gyermekek kötődése a hagyományokhoz.
    </p>

    <p>
    Megtanítjuk a gyerekeknek a népi kismesterség technikáit: agyagozás, szövés-fonás, kosárfonás alapjai, bőrözés, nemezelés, batikolás, gyöngyfűzés, stb.
    </p>

    <p>
    A néphagyományokat a gyermekek életkorához igazodóan ismertetjük meg, és a fővárosi lehetőségekhez mérten a gyakorlatban is bemutatjuk (szőlőszüret és -préselés, Mihály-napi vásár, Márton-nap, Luca-nap, kiszebáb-égetés, zöldágjárás, Szent György-nap, stb). Ünnepeink vendégváróak.
    </p>

    <h3>Gyermekbarát környezet</h3>

    <p>
    A belső környezet kialakításában az esztétikus, természetes anyagok dominálnak. Csoportszobáink gyermekbútorokkal és igényes, a gyermekek életkori sajátosságainak megfelelő játékokkal felszereltek.
    </p>

    <p>
    Tornatermünk sporteszközökkel megfelelően ellátott, amelyet folyamatosan bővítünk.
    </p>

    <p>
    Az udvar adottságai és felszerelését tekintve alkalmas sokszínű, változatos, szabadban töltött tevékenységek megszerettetésére (csúszdák, játszóházikók, ügyességi játékok, stb).
    </p>
{% endblock %}
