---
title: Óvodánkról
permalink: ovodankrol/
date: Last Modified
tags: menu
menuOrder: 200
staff:
    - Katica nagycsoport:
        - Jónás-Szép Edina
        - Takács Viola
        - Horváth Frei Erika
    - Süni középső csoport:
        - Ádámszki Mercédesz
        - Menyhártné Bolla Csilla
        - Lődy Klaudia
    - Pillangó kis csoport:
        - Dr. Bartosné Polyák Beatrix
        - Gajda Orsolya
        - Gál Lenke
    - Nyuszi középső csoport:
        - Cséfalvay Márta
        - Tamás Judit
        - Pickné Benkő Erika
    - Halacska nagycsoport:
        - Lampert Lászlóné
        - Nagy Dénesné
        - Grünwald Gyuláné
    - Cica nagycsoport:
        - Ajtai Lászlóné
        - Pasztercsákné Demcsik Zsuzsanna
    - Mókus kiscsoport:
        - Farkas Mariann
        - Pióker Ildikó
        - Kató Tímea
        
---
{% extends 'layouts/@default.njk' %}

{% block main %}

{% include "_about.njk" %}

<p>
Az óvoda munkatársai bensőséges, családias légkörű óvoda megteremtésén fáradoznak, ami kedveltté teszi a szülők és gyerekek körében. Lehetőségeink figyelembevételével vállaljuk mozgásban akadályozott és látássérült gyermekek fogadását.
</p>

<h3>
Hagyományőrzés és kézművesség
</h3>

<p>
Pedagógiai programunk az Országos Alapprogramra és az óvodánkban mindig kiemelt területnek számító hagyományőrzés és kézművesség alapjaira épül. Óvodánk a helyi program bevezetése előtt már elnyerte a “Kézműves Óvoda” címet.
</p>

<p>
Sajátos arculatunkat az óvoda külsőségekben is követi; csoportszobáink esztétikusak, természetes anyagokkal ellátottak. Az intézmény komfortja, esztétikája jó feltételeket teremt az idejáró gyermekeknek.
</p>

<h3>
Mi jellemzi intézményünket?
</h3>

<ul>
    <li>A gyermekek mindenek felett álló érdekeinek figyelembevétele</li>
    <li>Szaktudás → humánum, emberséges légkör → jó közösség → csapatmunka</li>
    <li>Gyermekszeretet → boldog óvodáskor biztosítása minden gyermeknek</li>
    <li>A kor követelményeinek, a szülők magas szintű igényeinek megfelelő minőségi nevelés és oktatás</li>
    <li>Megbízható, továbbépíthető tudás átadása (készségek, képességek megalapozása)</li>
    <li>Programunk színvonalas megvalósítása</li>
    <li>Nyitott óvoda, fogékony, nyitott pedagógusok</li>
    <li>Sikeres pedagógiai munka → sikeres pedagógusok → sikeres óvoda</li>
</ul>

<h3>Csoportbeosztás</h3>

<div class="staff">
{% for data in staff %}
    {% for group, names in data %}
        <div>
        <h4>{{ group }}</h4>
        <ul>
            {% for name in names %}
            <li>{{ name }}</li>
            {% endfor %}
        </ul>
        </div>
    {% endfor %}
{% endfor %}
</div>

{% endblock %}
