backend:
  name: git-gateway
  branch: master # Branch to update (optional; defaults to master)

# Uncomment below to enable drafts
# publish_mode: editorial_workflow

local_backend: true

media_folder: "static/img" # Media files will be stored in the repo under images/uploads

display_url: https://kezmuvesovi.hu
locale: "hu"
# show_preview_links: false
slug:
  encoding: "ascii"
  clean_accents: true
  sanitize_replacement: "_"

collections:
  - label: "Oldalak"
    name: "pages"
    files:
      - label: "Óvodánkról"
        name: "ovodankrol"
        file: "input/pages/ovodankrol.md"
        fields:
          - { label: "Tags", name: "tags", widget: "hidden", default: "menu" }
          - {
              label: "Layout",
              name: "layout",
              widget: "hidden",
              default: "layouts/@ovodankrol.njk",
            }
          - { label: Title, name: title, widget: string }
          - label: Csoport
            label_plural: Csoportok
            name: staff
            widget: list
            minimize_collapsed: true
            fields:
              - { label: "Név", name: "groupName", widget: "string" }
              - { label: "Óvónő", name: "staff_1", widget: "string" }
              - { label: "Óvónő", name: "staff_2", widget: "string" }
          - { label: Tartalom, name: body, widget: markdown }
          - { label: Permalink, name: permalink, widget: string }
          - { label: Menü sorrend, name: menuOrder, widget: number }
      - label: "Dokumentumok"
        name: "dokumentumok"
        file: "input/pages/dokumentumok.md"
        fields:
          - { label: "Tags", name: "tags", widget: "hidden", default: "menu" }
          - {
              label: "Layout",
              name: "layout",
              widget: "hidden",
              default: "layouts/@documents.njk",
            }
          - { label: Title, name: title, widget: string }
          - label: Dokumentum
            label_plural: Dokumentumok
            name: documents
            widget: list
            minimize_collapsed: true
            fields:
              - { label: "Név", name: "documentName", widget: "string" }
              - { label: "URL", name: "url", widget: "string" }
          - { label: Permalink, name: permalink, widget: string }
          - { label: Menü sorrend, name: menuOrder, widget: number }
      - label: "Miért hozzánk?"
        name: "mierthozzank"
        file: "input/pages/miert-hozzank.md"
        fields:
          - { label: "Tags", name: "tags", widget: "hidden", default: "menu" }
          - {
              label: "Layout",
              name: "layout",
              widget: "hidden",
              default: "layouts/@page.njk",
            }
          - { label: Title, name: title, widget: string }
          - { label: Bevezető, name: excerpt, widget: string }
          - { label: Tartalom, name: body, widget: markdown }
          - { label: Permalink, name: permalink, widget: string }
          - { label: Menü sorrend, name: menuOrder, widget: number }
      - label: "Kapcsolat"
        name: "kapcsolat"
        file: "input/pages/kapcsolat.md"
        fields:
          - { label: "Tags", name: "tags", widget: "hidden", default: "menu" }
          - {
              label: "Layout",
              name: "layout",
              widget: "hidden",
              default: "layouts/@page.njk",
            }
          - { label: Title, name: title, widget: string }
          - { label: Tartalom, name: body, widget: markdown }
          - { label: Permalink, name: permalink, widget: string }
          - { label: Menü sorrend, name: menuOrder, widget: number }
  - name: "hirek"
    label: "Hírek"
    label_singular: "Hír"
    folder: "input/hirek"
    slug: "{{slug}}"
    create: true
    widget: "list"
    max: 9999
    sortable_fields: ["title", "date", "type"]
    summary: "{{date}} - {{title}} - ({{type}})"
    fields:
      - { label: "Cím", name: title, widget: string }
      - { label: "Bevezető", name: excerpt, widget: string, required: false }
      - { label: "Tartalom", name: "body", widget: "markdown" }
      - label: "Típus"
        name: "type"
        widget: "select"
        default: "news"
        options:
          - { label: "Hírek", value: "news" }
          - { label: "Felhívás", value: "notice" }
          - { label: "Galéria", value: "gallery" }
          - { label: "Nyílt nap", value: "open-day" }
          - { label: "Nyári zárás", value: "summer-closure" }
          - { label: "Beiratkozási időpontok", value: "registration-dates" }
          - { label: "Felvételi tájékoztató", value: "enrollment-info" }
          - {
              label: "Nevelés nélküli nap változás",
              value: "day-without-education-change",
            }
          - { label: "Nevelés nélküli napok", value: "day-without-education" }
      - {
          label: "Dátum",
          name: date,
          widget: datetime,
          date_format: "YYYY-MM-DD",
          time_format: "",
          format: "YYYY-MM-DD",
          picker_utc: false,
        }
  - name: "gallery"
    label: "Galériák"
    label_singular: "Galéria"
    folder: "input/galeria"
    slug: "{{slug}}"
    create: true
    widget: "list"
    max: 9999
    sortable_fields: ["title", "date"]
    summary: "{{date}} - {{title}}"
    fields:
      - { label: "Cím", name: title, widget: string }
      - {
          label: "Aktív",
          name: active,
          widget: boolean,
          default: true,
          required: true,
        }
      - {
          label: "Forrás",
          name: src,
          widget: string,
          hint: "eg. https://photos.app.goo.gl/1LY8w6sGYq86fpPz9",
        }
      - { label: "Bevezető", name: excerpt, widget: string, required: false }
      - {
          label: "Kép URL-ek",
          name: "images",
          widget: "list",
          hint: "Vesszővel elválasztott url-ek",
        }
      - {
          label: "Dátum",
          name: date,
          widget: datetime,
          date_format: "YYYY-MM-DD",
          time_format: "",
          format: "YYYY-MM-DD",
          picker_utc: false,
        }
