<section class="bottom-fullwidth">
    <div class="container">
    {% if (tags !== "gallery" and page.url.indexOf("galeria") === -1) %}
        <h3><a href="{{ "/galeria/" | url }}">Galériák</a></h3>
        <div class="grid">
        {% for p in collections.galleries.slice(0, 5) %}
            {% set thumb = (p.data.images[0] | trim) + "=w" + cfg.gallery.thumb.width + "-h" + cfg.gallery.thumb.height + "-c" %}
            <div>
                <a href="{{ p.url | url }}" class="thumb" style="background-image:url('{{ thumb }}')"></a>
                <p>
                    <a href="{{ p.url | url }}">{{ p.data.title }}</a>
                </p>
                <small class="date">{{ p.date | dateDisplay }}</small>
            </div>
        {% endfor %}
        </div>
    {% else %}
        {% include "_about.njk" %}
    {% endif %}
    </div>
</section>