<section class="bottom-fullwidth">
    <div class="container">
    {% if (tags !== "gallery" and page.url.indexOf("galeria") === -1) %}
        <h3><a href="{{ "/galeria/" | url }}">Galériák</a></h3>
        <div class="grid">
        {% for gallery in collections.galleries.slice(0, 5) %}
            <div>
                <a href="{{ gallery.url | url }}" class="thumb">
                    <img src="{{ (cfg.urls.images + "/gallery/" + gallery.fileSlug + "/" + gallery.fileSlug + "-001-thumb.jpg") | url | buildTimestamp }}" alt=""/>
                </a>
                <p>
                    <a href="{{ gallery.url | url }}">{{ gallery.data.title }}</a>
                </p>
                <small class="date">{{ gallery.date | dateDisplay }}</small>
            </div>
        {% endfor %}
        </div>
    {% else %}
        {% include "_about.njk" %}
    {% endif %}
    </div>
</section>