<p><strong>Katica nagycsoport</strong></p>

<ul>
    <li>Jónás-Szép Edina</li>
    <li>Takács Viola</li>
    <li>Horváth Frei Erika</li>
</ul>

<p><strong>Süni középső csoport</strong></p>

<ul>
    <li>Ádámszki Mercédesz</li>
    <li>Menyhártné Bolla Csilla</li>
    <li>Lődy Klaudia</li>
</ul>