// variables
$base: "/";
$assets: "#{$base}assets";
$version: "?v=20190331";
$bgcolor: #f3f6fa;
$basecolor: #0b294e;
$linkcolor: #2076df;
$babyblue: rgb(192, 197, 202);
$darkcolor: #0f396b;
$buttoncolor: #dee6f0;
$bordercolor: #dadada;
$colorize1: #a8c078;
$colorize2: #e7cb30;
$colorize3: #f09030;
$colorize4: #dd4b7c;
$colorize5: #9060a8;
$colorize6: #1f9cd6;

// breakpoints
$_mobile: 480;
$_tablet: 640;
$_desktop: 1020;
$_hd: 1240;
$_xhd: 1600;
$mobile: "min-width: #{$_mobile}px";
$tablet: "min-width: #{$_tablet}px";
$desktop: "min-width: #{$_desktop}px";
$hd: "min-width: #{$_hd}px";
$xhd: "min-width: #{$_xhd}px";
$max-mobile: "max-width: #{$_tablet - 1}px";
$max-tablet: "max-width: #{$_desktop - 1}px";
$max-desktop: "max-width: #{$_hd - 1}px";
$max-hd: "max-width: #{$_xhd - 1}px";
$perfundo-control-use-icons: true;
$perfundo-background-color: rgba(darken($darkcolor, 12%), 0.96);
$perfundo-max-image-width: 960px;
$perfundo-image-padding: 1rem;

// imports
@import "normalize";
@import "mixins";
@import "fonts/raleway";
@import "fonts/yanone-kaffeesatz";
@import "fg_grid/fg_grid";
@import "svg-icons";
@import "perfundo";
@import "spinner";

// override defaults
* {
    outline: none;
}

input,
textarea,
button,
select,
label,
a {
    -webkit-tap-highlight-color: transparent;
}

strong,
b {
    font-weight: 600;
}

p {
    margin: 0 0 1rem;
}

ul,
ol {
    margin-top: 0;
}

li p {
    margin-bottom: 0;
}

img {
    height: auto;
    max-width: 100%;
    border-radius: 0.25rem;
    transition: opacity 0.16s;

    a & {
        &:hover {
            opacity: 0.84;
        }
    }
}

a {
    color: $linkcolor;
    text-decoration: underline;

    &:hover {
        color: lighten($linkcolor, 16%);
    }

    &.underline {
        text-decoration: underline !important;
    }
}

// styles
html {
    overflow-x: hidden;
    overflow-y: overlay;
    background: $bgcolor;
    height: 100%;
    font-size: 15px;

    @media ($tablet) {
        font-size: 17px;
    }

    @media ($hd) {
        font-size: 18px;
    }
}

body {
    font-family: "Raleway", sans-serif;
    line-height: 1.66;
    color: $basecolor;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.container {
    @include clearfix;
    margin: 0 auto;
    padding: 0 1.12rem;

    @media ($desktop) {
        max-width: 60rem;
        padding: 0 3rem;
    }
}

.title {
    @include clearfix;
    padding: 2.25rem 0 1.5rem;
    background-image: url("#{$assets}/images/bluedyeing.png"),
    radial-gradient(#175bab,
        #10478b);
    background-position: center top;
    background-attachment: fixed;
    text-align: center;
    margin-bottom: 1rem;

    @media ($desktop) {
        padding: 3.25rem 0 3rem;
        box-shadow: inset 0 0 60px 8px #10478b;
        margin-bottom: 1.25rem;
    }
}

.title-wrap {
    margin-bottom: 1.25rem;
}

header {
    flex: 0 0 auto;
    position: relative;
    
    @media ($desktop) {
        position: sticky;
        top: 0;
        background: white;
        z-index: 33;
        box-shadow: 0 1px 4px -2px rgba(black, 0.3);
    }

    nav {
        text-align: center;
        user-select: none;
    }

    ul {
        display: none;
        padding: 1rem;
        margin: 0 -1.5rem;
        background: $darkcolor;

        @media ($desktop) {
            display: block;
            margin: 0;
            padding: 0;
            z-index: auto;
            background: transparent;
            border-radius: 0 !important;
        }
    }

    li {
        display: block;

        @media ($desktop) {
            display: inline-block;

            &:first-child {
                a {
                    text-indent: -9999px;
                    padding-right: 1.5rem;
                    padding-left: 0.4rem;

                    &::before {
                        $size: 1.16rem;
                        content: "";
                        width: $size;
                        height: $size;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-52%);
                        display: block;
                        background-image: url(colorizeSvg(
 "#{$svg_home}",
                        #10478b));
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                }

                &.active a::before,
                a:hover::before {
                    background-image: url(colorizeSvg(
 "#{$svg_home}",
                    $linkcolor));
                }
            }
        }

        &.active {
            a {
                color: $linkcolor; //         font-weight: 600;
            }
        }
    }

    a {
        display: block;
        padding: 1rem 0.75rem;
        display: inline-block;
        color: white;
        text-decoration: none;
        line-height: 1;

        @media ($desktop) {
            color: $basecolor;
            padding: 1.25rem 0.75rem;
            font-size: 0.98rem;
        }

        &:hover {
            color: $linkcolor;
        }
    }
}

.main-content {
    flex: 1 0 auto;

    table {
        margin: 0 auto 1.25rem;
        font-size: 0.96rem;

        @media ($desktop) {
            min-width: 24rem;
        }

        th,
        td {
            padding: 0.33rem 1rem;
            vertical-align: top;
            border-bottom: 1px solid rgba($basecolor, 0.16);
        }

        th {
            font-size: 0.84rem;
            text-transform: uppercase;
            vertical-align: bottom;
            border-bottom-color: $basecolor;
        }

        tbody tr:nth-child(2n+1) td {
            background: rgba($basecolor, 0.033);
        }

        // tbody {
        //     background: white;
        // }
    }

    .table-responsive {
        margin-bottom: 1.25rem;

        table {
            margin: 0 auto;
        }
    }
}

[role="main"] {
    body:not(.home) & {
        max-width: 49.875rem !important;
    }

    margin: 0 auto;
    text-align: center;

    ul,
    ol {
        padding: 0;

        li {
            list-style: none;
            position: relative;
            margin-left: -0.75rem;

            &:not(:last-child) {
                margin-bottom: 0.5rem;
            }
        }
    }

    ul,
    ol {
        &:not(.no-bullets) li::before {
            content: "\2022";
            margin-right: 0.25rem;
        }
    }
}

body.home {
    h1 {
        margin-bottom: 1rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        max-width: 70vw;
        margin-right: auto;
        margin-left: auto;

        @media ($desktop) {
            margin-left: 0;
            margin-right: 0;
        }
    }

    .title {
        color: white;
        font-size: 1rem;
        margin-bottom: 1.5rem;
        padding-bottom: 2rem;

        @media ($desktop) {
            font-size: 1.125rem;
            margin-bottom: 3rem;
            padding-bottom: 3rem;
        }

        >.container>div {
            @media ($desktop) {
                @include _fg(2,
                    0,
                    0);
                align-items: center;
            }
        }

        ul {
            list-style: none;
            padding-left: 0;

            @media ($desktop) {
                list-style: disc;
                margin-bottom: 0;
                padding-left: 1.5rem;
            }
        }

        li {
            margin-bottom: 0.2rem;

            @media ($desktop) {
                margin-bottom: 0.5rem;
            }
        }
    }

    .text {
        @media ($desktop) {
            text-align: left;

            >* {
                max-width: 66%;
            }
        }
    }

    .circles {
        position: relative;
        word-spacing: 1.25rem;
        margin-bottom: -1rem;

        @media ($desktop) {
            word-spacing: auto;
            margin-bottom: 0;
        }

        img {
            border-radius: 100%;
            position: relative;
            user-select: none;
            border: 7px double rgba(113, 160, 199, 0.68);
            max-width: 14rem;
            height: auto;

            &:not(:nth-child(2)) {
                display: none;
            }

            @media ($tablet) {
                display: inline-block !important;
                max-width: 22vw;
            }

            @media ($desktop) {
                float: right;
                margin-bottom: 0;
                max-width: 26vw;

                &:nth-child(1) {
                    transform: scale(0.95) translateX(10%) translateY(8%);
                    margin-top: -6rem;
                }

                &:nth-child(2) {
                    position: absolute;
                    transform: scale(1.04) translateX(-60%) translateY(-2%);
                }

                &:nth-child(3) {
                    transform: scale(0.84) translateX(-24%);
                    margin-bottom: -5.75rem;
                }
            }
        }
    }
}

.breadcrumb {
    li {
        display: inline-block;
        color: white;

        a {
            display: block;
            padding: 0.25rem;
        }
    }
}

.global-notification {
    padding: 1rem 4rem;
    text-align: center;
    color: rgba(white, 0.84);
    background: darken($darkcolor, 2%);

    @media($desktop) {
        background: rgba(darken($darkcolor, 3%), 0.33);
        position: absolute;
        left: 0;
        right: 0;

        +.title {
            padding-top: 5.5rem;
        }
    }

    p {
        margin-bottom: 0;
        font-size: 0.84rem;
    }
}

section.news-list {
    h3 {
        display: inline-block;
        border-radius: 0.25rem;
        margin: 0 0 1rem;
        position: relative;
        background: $colorize1;
        font-size: 1.2rem;

        @media ($desktop) {
            font-size: 1.4rem;
        }

        &::after {
            $size: 0.8rem;
            content: "";
            border: $size/2 solid transparent;
            border-top-color: $colorize1;
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -$size/2;
        }

        a {
            display: block;
            padding: 0.52rem 0.84rem 0.3rem;
            color: white;
            line-height: 1.33;
            text-decoration: none;
            min-width: 10rem;

            &:hover {
                opacity: 0.75;
            }
        }
    }

    article {
        padding: 0 0.5rem 1rem;

        p {
            a {
                text-decoration: none;
                color: $basecolor;
            }
        }

        .colorize-2::after {
            border-top-color: $colorize2;
        }

        .colorize-3::after {
            border-top-color: $colorize3;
        }

        .colorize-4::after {
            border-top-color: $colorize4;
        }

        .colorize-5::after {
            border-top-color: $colorize5;
        }

        .colorize-6::after {
            border-top-color: $colorize6;
        }
    }

    >div {
        @media ($tablet) {
            @include _fg(2,
                0,
                0);
            justify-content: center;
        }

        @media ($desktop) {
            @include _fg(3,
                0,
                0);
        }
    }

    .all-news-link {
        margin: 1rem 0 2.5rem;
    }
}

.date {
    color: rgba($basecolor, 0.64);
    margin-top: -0.75rem;
    display: block;
    user-select: none;

    .title & {
        color: rgba(white, 0.7);
        margin-top: 0.25rem;
    }
}

.breadcrumb {
    list-style: none;
    margin: -0.75rem 0 0.5rem;
    padding: 0;

    a {
        color: white;

        &:not(:hover) {
            text-decoration: none;
        }
    }
}

.excerpt {
    position: relative;
    text-align: center;
    font-size: 1rem;
    margin: 0 auto 1.5rem;
    padding-bottom: 1rem;

    @media ($desktop) {
        padding-bottom: 1.125rem;
        margin: 0 auto 2.25rem;
        font-style: italic;
    }

    &::before {
        $size: 16rem;
        content: "";
        display: block;
        width: $size;
        max-width: $size;
        height: 1px;
        position: absolute;
        left: 50%;
        top: 100%;
        margin-left: -$size/2;
        background: $babyblue;
    }

    &::after {
        $size: 0.6rem;
        content: "";
        display: block;
        width: $size;
        height: $size;
        border-bottom: 1px solid $babyblue;
        border-left: 1px solid $babyblue;
        background: $bgcolor;
        transform: rotate(-45deg);
        transform-origin: center;
        position: absolute;
        left: 50%;
        top: 100%;
        margin-top: -$size/2;
        margin-left: -$size/2;
    }
}

body.hirek .main-content,
.bottom-fullwidth {
    .container {
        max-width: 72rem !important;
    }
}

.news-separator {
    flex-basis: 100%;
    user-select: none;
    padding: 1rem 0 2rem;
    font-size: 1.12rem;

    @media($tablet) {
        @include centeredTitle();
    }
}

.bottom-fullwidth {
    @include clearfix;
    margin: 1rem 0 0.5rem;
    background: $buttoncolor url("#{$assets}/images/bluedyeing-light.png");
    background-position: center top;
    background-attachment: fixed;
    text-align: center;

    @media ($desktop) {
        margin: 1.5rem 0 1rem;
    }

    .about-img {
        display: none;
    }

    .button,
    .button:hover {
        background: white;
    }

    >.container {
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;

        @media ($desktop) {
            padding-top: 2rem;
            padding-bottom: 2rem;
        }

        &:empty {
            display: none;
        }
    }

    .grid {
        justify-content: center;
        @include _fg(2,
            0,
            0.5rem);
        margin-top: -0.5rem !important;
        margin-bottom: -0.5rem !important;

        @media ($tablet) {
            @include _fg(4,
                0,
                0.5rem);
        }

        @media ($desktop) {
            @include _fg(5,
                0,
                0.5rem);
        }

        a {
            @extend h4;
            text-decoration: none;
            color: $basecolor;
        }
    }

    h3 {
        @extend h2;
        margin-top: 0 !important;

        a {
            color: $basecolor;

            &:not(:hover) {
                text-decoration: none;
            }
        }
    }

    p:last-child {
        margin-bottom: 0;
    }
}

footer {
    text-align: center;
    font-size: 0.84rem;
    padding: 0.5rem 0;

    @media ($desktop) {
        font-size: 0.9rem;
    }
}

h1,
h2,
h3 {
    font-family: "Yanone Kaffeesatz", sans-serif; // text-transform: uppercase;
    line-height: 1.25;
    font-weight: 400;
    margin: 1.75rem 0 1.25rem;
    letter-spacing: 0.5px;
}

h1 {
    color: white;
    padding: 0;
    margin: 0;
    font-size: 2.25rem;
    margin-left: 0;
    font-weight: 400;

    @media ($desktop) {
        font-size: 2.7rem;
    }
}

h2 {
    font-size: 1.8rem;

    @media ($desktop) {
        font-size: 2rem;
    }
}

h3 {
    font-size: 1.44rem;
    line-height: 1.25;
    letter-spacing: 0;

    @media ($desktop) {
        font-size: 1.7rem;
    }
}

h4 {
    margin: 0 0 1rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25;
}

.button {
    display: inline-block;
    border: none;
    background-color: $buttoncolor;
    font-family: "Yanone Kaffeesatz", sans-serif;
    text-transform: uppercase;
    line-height: 1.25 !important;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.54rem 1rem 0.32rem;
    border-radius: 0.25rem;
    user-select: none;
    letter-spacing: 0.5px;
    color: $basecolor;
    min-width: 4rem;

    @media ($desktop) {
        font-size: 1.32rem;
        padding: 0.62rem 1.4rem 0.32rem;
        min-width: 6rem;
    }

    &:hover {
        color: $basecolor;
        background-color: darken($buttoncolor, 3%);
    }
}

.colorize-1 {
    background: $colorize1 !important;
}

.colorize-2 {
    background: $colorize2 !important;
}

.colorize-3 {
    background: $colorize3 !important;
}

.colorize-4 {
    background: $colorize4 !important;
}

.colorize-5 {
    background: $colorize5 !important;
}

.colorize-6 {
    background: $colorize6 !important;
}

[class*="colorize-"] {
    color: white;

    &:hover {
        opacity: 0.8;
        color: white;
    }
}

ul.documents {
    margin-bottom: 1rem;

    li {
        margin-bottom: 1rem !important;
    }

    .button {
        &::before {
            $size: 1.36rem;
            content: "";
            width: $size;
            height: $size;
            display: inline-block;
            vertical-align: text-bottom;
            position: relative;
            top: -1px;
            left: -0.16rem;
            background-image: url(colorizeSvg("#{$svg_document}", #fff));
            background-repeat: no-repeat;
            background-size: cover;
            z-index: 2;
        }
    }
}

@media ($tablet) {
    ::-webkit-scrollbar {
        width: 20px;
        height: 20px;

        &-track {
            background: transparent;
        }

        &-thumb {
            background: $linkcolor;
            border: 6px solid transparent;
            background-clip: padding-box;
            border-radius: 10px;

            &:hover {
                // background: $linkcolor;
                background-clip: padding-box;
            }
            
            &:vertical {
              border-top-width: 4.25rem;

              &:hover {
                //border-left-width: 6px;
                //border-right-width: 6px;
              }
            }

              &:horizontal {
                &:hover {
                  //border-top-width: 6px;
                  //border-bottom-width: 6px;
                }
            }
        }
    }
}

section {
    margin: 1rem auto;

    @media ($desktop) {
        margin: 1.5rem auto;
    }
}

.about {
    max-width: 48rem;

    .about-img {
        a {
            display: inline-block;
        }
    }

    img {
        display: block;
        margin: 0 auto;
    }
}

.gallery-list {
    text-align: left;

    a {
        text-decoration: none;
    }

    >div {
        display: table;

        @media ($tablet) {
            margin-left: 6rem;
        }
    }

    .date {
        position: relative;
        top: -0.5rem;
    }

    .details {
        display: table-cell;
        vertical-align: middle;
        padding: 0 1rem 1rem 0;

        @media ($desktop) {
            padding: 0 1.5rem 1rem 0;
        }
    }

    h2 {
        @extend h3;
        margin-top: 0;
    }

    .thumb {
        width: 6rem;
        margin: 0 1rem 1rem 0;

        @media ($tablet) {
            width: 9rem;
        }

        @media ($desktop) {
            width: 12rem;
            margin: 0 1.5rem 1.5rem 0;
        }
    }
}

.gallery {
    @include clearfix;
    @include _fg(2,
        0,
        0.5rem);
    justify-content: center;

    @media ($tablet) {
        @include _fg(3,
            0,
            0.5rem);
    }

    margin-top: -0.5rem;
}

.thumb {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 0;
    padding-top: 75%;
    border-radius: 0.25rem;
}

#menu-toggle {
    @include hamburger($width: 21px, $thickness: 2px, $gap: 5px, $color: white, $padding: 1.25rem, $anim: 0);

    +label {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        z-index: 12;

        @media ($desktop) {
            display: none;
        }
    }

    &:checked {
        @include hamburger_tint(white);

        ~header {
            ul {
                display: block;
                z-index: 8;
            }
        }
    }
}

.clear {
    @include clearfix;
}

.hidden {
    display: none;
}

.pagination {
    $size: 1rem;
    user-select: none;
    position: relative;
    margin-bottom: 2rem;

    @media ($desktop) {
        text-align: center;
    }

    ul {
        display: inline-block;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        display: inline-block;
        margin: 0 0.1rem !important;

        &::before {
            display: none !important;
        }

        &:not(.current) a {
            background: url("#{$svg_angle_right}") center center no-repeat;
            background-size: $size $size;
            text-indent: -9999px;
        }

        &.prev a {
            background-image: url("#{$svg_angle_left}");
        }

        &.first a {
            background-image: url("#{$svg_angle_double_left}");
        }

        &.last a {
            background-image: url("#{$svg_angle_double_right}");
        }

        &.disabled a {
            color: $basecolor;
            text-decoration: none;
            pointer-events: none;
            cursor: default;
            opacity: 0.4;
        }

        &.current {
            a {
                opacity: 1 !important;
                padding-left: 1rem;
                padding-right: 1rem;

                span {
                    font-size: 0.84rem;
                }
            }
        }

        a {
            $blockSize: $size * 2;
            min-width: $blockSize;
            height: $blockSize;
            line-height: $blockSize;
            display: inline-block;
            padding: 0.25rem;
            text-align: center;
            white-space: nowrap;
            word-spacing: 0.16rem;
            border-radius: 0.25rem;

            &:hover {
                background-color: $buttoncolor;
            }
        }
    }
}

body.kapcsolat {
    h2+p {
        position: relative;
        top: -1rem;
    }
}

.staff {
    text-align: left;
}

img.lazyload {
    height: 0;
}

.perfundo {

    &:first-child() &__prev,
    &:last-child() &__next {
        display: none !important;
    }

    &__overlay {
        @extend .spinner;
    }

    &__link {
        display: block;

        img {
            width: 100%;
            display: block;

            &.lazyloaded {
                height: auto;
            }
        }
    }

    &__prev,
    &__next {
        top: auto;
        bottom: 1.5rem;

        @media ($desktop) {
            bottom: 48%;
        }
    }

    &__figure {
        border-radius: 0.25rem;
    }
}

.table-responsive {
    overflow-x: auto;
}
